<script>
	var countDownDate = new Date("Jan 01, 2023 {{ server_save.0 }}:{{ server_save.1 }}:{{ server_save.2 }}").getTime();
	var x = setInterval(function() {
		var now = new Date().getTime();
		var distance = countDownDate - now;
		var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
		var seconds = Math.floor((distance % (1000 * 60)) / 1000);

		document.getElementById("timerServerSave_hour").innerHTML = hours + "h ";
		document.getElementById("timerServerSave_minute").innerHTML = minutes + "m ";
		document.getElementById("timerServerSave_second").innerHTML = seconds + "s ";

		if (distance < 0) {
			clearInterval(x);
			document.getElementById("timerServerSave_hour").innerHTML = "Server save now!";
		}
	}, 1000);
</script>

<div style="text-align:center">
    <h1>{{ config.lua.serverName }}</h1>
    <h3>
        {%  if experienceStages %}
        Experience stages: {{ experienceStages }}<br>
        {%  endif %}
    </h3>
</div>
<div class="SmallBox">
	<div class="MessageContainer">
		<div class="BoxFrameHorizontal" style="background-image:url(templates/tibiacom/images/global/content/box-frame-horizontal.gif);"></div>
		<div class="BoxFrameEdgeLeftTop" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></div>
		<div class="BoxFrameEdgeRightTop" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></div>
		<div class="Message">
			<div class="BoxFrameVerticalLeft" style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></div>
			<div class="BoxFrameVerticalRight" style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></div>
			<table style="width:100%;">
				<tbody>
				<tr><td style="width:100%;text-align:center;"><nobr>[<a href="{{ getLink('commands') }}">Commands</a>]</nobr> <nobr>[<a href="{{ getLink('team') }}">Support List</a>]</nobr> <nobr>[<a href="{{ getLink('rules') }}">Server Rules</a>]</nobr></td></tr>
				</tbody>
			</table>
		</div>
		<div class="BoxFrameHorizontal" style="background-image:url(templates/tibiacom/images/global/content/box-frame-horizontal.gif);"></div>
		<div class="BoxFrameEdgeRightBottom" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></div>
		<div class="BoxFrameEdgeLeftBottom" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></div>
	</div>
</div>
<br>
<div style="display: flex;">
	<div style="width: 100%; display: grid; justify-content: center; text-align: center; max-height: 120px;">
		<p style="font-size: 24px; font-weight: bold; margin: 0;">Server Save<br></p>
		<small style="margin: 0 0 10px 0;">Every day {{ server_save.0 }}:{{ server_save.1 }}</small>
		<div style="display: flex;">
			<div style="padding: 10px; box-shadow: 3px 3px 2px #875f3e; border: 1px solid #5f4d41; background-color: #d4c0a1; border-radius: 5px 0 0 5px;">
				<label>hours</label>
				<div id="timerServerSave_hour" style="font-size: 24px; font-weight: bold;"></div>
			</div>
			<div style="padding: 10px; box-shadow: 3px 3px 2px #875f3e; border: 1px solid #5f4d41; background-color: #d4c0a1;">
				<label>minutes</label>
				<div id="timerServerSave_minute" style="font-size: 24px; font-weight: bold;"></div>
			</div>
			<div style="padding: 10px; box-shadow: 3px 3px 2px #875f3e; border: 1px solid #5f4d41; background-color: #d4c0a1; border-radius: 0 5px 5px 0;">
				<label>seconds</label>
				<div id="timerServerSave_second" style="font-size: 24px; font-weight: bold;"></div>
			</div>
		</div>
	</div>
	<div style="width: 100%;">
		<table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr>
				<td>
					<div class="TableContainer">
						<div class="CaptionContainer">
							<div class="CaptionInnerContainer">
								<span class="CaptionEdgeLeftTop" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
								<span class="CaptionEdgeRightTop" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
								<span class="CaptionBorderTop" style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
								<span class="CaptionVerticalLeft" style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
								<div class="Text">
									<div style="height: 16px;">Server Info</div>
								</div>
								<span class="CaptionVerticalRight" style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
								<span class="CaptionBorderBottom" style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
								<span class="CaptionEdgeLeftBottom" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
								<span class="CaptionEdgeRightBottom" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
							</div></div>
						<table class="Table3" cellpadding="0" cellspacing="0">
							<tbody>
							<tr>
								<td>
									<div class="InnerTableContainer">
										<table style="width:100%;"><tbody><tr><td>
													<div class="TableContentContainer">
														<table class="TableContent" width="100%">
															<tbody>
															<tr bgcolor="#D4C0A1"><td><b>IP:</b> {{ serverIp }} (Port: {{ config.lua.loginPort }})</td></tr>
															<tr bgcolor="#F1E0C6"><td><b>Client: </b> {{ clientVersion }}</td></tr>
															<tr bgcolor="#D4C0A1"><td><b>Online:</b> 24/7</td></tr>
															<tr bgcolor="#F1E0C6"><td><b>Global save: </b> {{ server_save.0 }}:{{ server_save.1 }}</td></tr>
															<tr bgcolor="#D4C0A1"><td><b>World type:</b> {{ config.lua.worldType|upper }}</td></tr>
															<tr bgcolor="#F1E0C6"><td><b>Protection level: </b> {{ protectionLevel }}</td></tr>
															<tr bgcolor="#D4C0A1"><td><b>House rent: </b> {{ houseRent }}<br>{% if houseOld %}Houses with inactive owners are cleaned after 30 days.{%  endif %}</td></tr>
															</tbody>
														</table>
													</div>
												</td></tr></tbody>
										</table>
									</div>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<br>
<div style="display: flex;">
	<div style="width: 100%; padding: 10px;">
		<table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr>
				<td>
					<div class="TableContainer">
						<div class="CaptionContainer">
							<div class="CaptionInnerContainer">
								<span class="CaptionEdgeLeftTop" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
								<span class="CaptionEdgeRightTop" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
								<span class="CaptionBorderTop" style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
								<span class="CaptionVerticalLeft" style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
								<div class="Text">
									<div style="height: 16px;">Rates</div>
								</div>
								<span class="CaptionVerticalRight" style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
								<span class="CaptionBorderBottom" style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
								<span class="CaptionEdgeLeftBottom" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
								<span class="CaptionEdgeRightBottom" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
							</div></div>
						<table class="Table3" cellpadding="0" cellspacing="0">
							<tbody>
							<tr>
								<td>
									<div class="InnerTableContainer">
										<table style="width:100%;"><tbody><tr><td>
													<div class="TableContentContainer">
														<table class="TableContent" width="100%">
															<tbody>
															{%  if rateExpFromPlayers %}
																<tr bgcolor="#F1E0C6"><td><b>Exp Rate from Players: </b> x{{ rateExpFromPlayers }}</td></tr>
															{% endif %}
															<tr bgcolor="#D4C0A1"><td><b>Exp Rate:</b> x{{ rateExp }}</td></tr>
															<tr bgcolor="#F1E0C6"><td><b>Magic Level: </b> x{{ rateMagic }}</td></tr>
															<tr bgcolor="#D4C0A1"><td><b>Skills:</b> x{{ rateSkill }}</td></tr>
															<tr bgcolor="#F1E0C6"><td><b>Loot: </b> x{{ rateLoot }}</td></tr>
															<tr bgcolor="#D4C0A1"><td><b>Spawn:</b> x{{ rateSpawn }}</td></tr>
															<tr bgcolor="#F1E0C6"><td><b>Guilds: </b> {{ config.guild_need_level }}</td></tr>
															{%  if houseLevel %}
																<tr bgcolor="#D4C0A1"><td><b>Houses:</b> {{ houseLevel }} level</td></tr>
															{% endif %}
															</tbody>
														</table>
													</div>
												</td></tr></tbody>
										</table>
									</div>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div style="width: 100%; padding: 10px;">
		<table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr>
				<td>
					<div class="TableContainer">
						<div class="CaptionContainer">
							<div class="CaptionInnerContainer">
								<span class="CaptionEdgeLeftTop" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
								<span class="CaptionEdgeRightTop" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
								<span class="CaptionBorderTop" style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
								<span class="CaptionVerticalLeft" style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
								<div class="Text">
									<div style="height: 16px;">Frags & Skull system</div>
								</div>
								<span class="CaptionVerticalRight" style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
								<span class="CaptionBorderBottom" style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
								<span class="CaptionEdgeLeftBottom" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
								<span class="CaptionEdgeRightBottom" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
							</div></div>
						<table class="Table3" cellpadding="0" cellspacing="0">
							<tbody>
							<tr>
								<td>
									<div class="InnerTableContainer">
										<table style="width:100%;"><tbody><tr><td>
													<div class="TableContentContainer">
														<table class="TableContent" width="100%">
															<tbody>
															<tr bgcolor="#D4C0A1"><td><b>PZ Lock:</b> {{ pzLocked / (60 * 1000) }} min</td></tr>
															<tr bgcolor="#F1E0C6"><td><b>White Skull Time: </b> {{ whiteSkullTime }} min</td></tr>
															<tr bgcolor="#D4C0A1"><td><b>Red skull length:</b> {{ redSkullLength / (24 * 60 * 60) }} days</td></tr>
															{% if blackSkull %}
																<tr bgcolor="#F1E0C6"><td><b>Black skull length: </b> {{ blackSkullLength / (24 * 60 * 60) }} days</td></tr>
															{% endif %}
															{% if killsToRedSkull is defined %}
																<li>Kills to red skull: <b>{{ config.lua.killsToRedSkull }}</b></li>
															{%  elseif config.lua.dailyFragsToRedSkull is defined or config.lua.kills_per_day_red_skull is defined %}
																<li>
																	<h3>Red skull</h3>
																	<ul>
																		<li>{{ dailyFragsToRedSkull }} frags daily</li>
																		<li>{{ weeklyFragsToRedSkull }} frags weekly</li>
																		<li>{{ monthlyFragsToRedSkull }} frags monthly</li>
																	</ul>
																	{% if blackSkull and config.lua.dailyFragsToBlackSkull is defined or config.lua.kills_per_day_black_skull is defined %}
																		<h3>Black skull</h3>
																		<ul>
																			<li>{{ dailyFragsToBlackSkull }} frags daily</li>
																			<li>{{ weeklyFragsToBlackSkull }} frags weekly</li>
																			<li>{{ monthlyFragsToBlackSkull }} frags monthly</li>
																		</ul>
																	{% elseif config.lua.dailyFragsToBanishment is defined %}
																		<h3>Banishment</h3>
																		<ul>
																			<li>{{ config.lua.dailyFragsToBanishment }} frags daily</li>
																			<li>{{ config.lua.weeklyFragsToBanishment }} frags weekly</li>
																			<li>{{ config.lua.monthlyFragsToBanishment }} frags monthly</li>
																		</ul>
																	{% endif %}
																</li>
															{% endif %}
															{% if banishmentLength %}
																<li>Banishment length: <b>{{ banishmentLength }} days</b></li>
															{% endif %}
															{% if finalBanishmentLength %}
																<li>Final banishment length: <b>{{ finalBanishmentLength }} days</b></li>
															{% endif %}
															{% if ipBanishmentLength %}
																<li>IP banishment length: <b>{{ ipBanishmentLength }} days</b></li>
															{% endif %}
															</tbody>
														</table>
													</div>
												</td></tr></tbody>
										</table>
									</div>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<br>
<div style="text-align:center">
	Please report rule violations (Botters, players breaking rules etc) with CTRL + R.
</div>
